@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');

html, body {
  height: 100%;
  font-family: 'Noto Sans', sans-serif;
  /* color: #313441; */
  background: #fff;
  font-weight: 300; 
}

#header {
  max-width: 1920px;
  width: 100%;
  height: 400px;
  /* font-weight: 300; */
  color: white;
  margin: 0 auto;
  margin-bottom: 20px;
}

.bg {
  background-image: url('./pics/header_bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
}

#headerblob {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  clear: both;
  top: 165px;
}

@media (min-width: 768px){
  #headerblob{
    width: 750px;
  }
}

@media (min-width: 992px){
  #headerblob{
    width: 970px;
  }
}

@media (min-width: 1200px){
  #headerblob{
    width: 1170px;
  }
}

#headertext {
  font-size: 26px;
  /* font-weight: 400; */
  margin-left: 230px;
}

#headertext a {
  color:inherit;
}

.imgme {
  border: 3px solid white;
  float: left;
  max-width: 203px;
}

#htname {
  font-size: 46px;
  font-weight: 400;
  text-shadow: 0px 0px 10px #000000;
}
#htdesc {
  font-size: 18px;
  /* font-weight: 300; */
  margin-top: -6px;
  text-shadow: 0px 0px 10px #000000;
}

#htem {
  font-size: 14px;
  /* font-weight: 300; */
  text-shadow: 0px 0px 10px #000000;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  font-size: 18px; 
  /* font-weight: 400;  */
}

@media (max-width: 768px) {
  #headerblob {
    text-align: center;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
  }
  .imgme {
    float: none;
    width: 120px;
    height: 120px;
  }
  #headertext {
    margin: 10px 0;
  }
  #htname {
    font-size: 28px;
  }
  #htdesc {
    font-size: 16px;
  }

  .container {
    font-size: 14px; 
    margin-top: 10px; 
    margin-bottom: 10px;
  }

  h2 {
    font-size: 40px !important;
  }

  .hht, .umisc, .pubd {
    font-size: 14px !important; 
  }
}

.svgico {
  display: inline-block;
  padding: 5px 10px 0px 0px;
  fill: green;
  filter: drop-shadow(0 0 10px rgba(0,0,0,1));
  -webkit-filter: drop-shadow(0 0 10px rgba(0,0,0,1));
  transition: all .15s ease-in-out;
}

.svgico:hover{
  transform: scale(1.15);
}

h2 {
  text-align: center;
  /* font-weight: 300; */
  font-size: 50px;
  padding: 10px 0px 10px 0px;
}

hr.soft {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  .pubd {
    text-align: justify;
  }
}

.miscitem {
  margin: 10px 0px 40px;
}

.miscimg img {
  height: 50px;
  float: left;
  margin-right: 10px;
  margin-top: -10px;
  -webkit-filter: drop-shadow(0 0 5px rgba(0,0,0,0.2));
  filter: drop-shadow(0 0 5px rgba(0,0,0,0.2));
}


.pubd {
  display:inline-block;
}

.t2whe {
  font-weight: 400;
}
.t2when {
  font-weight: 400;
}

.t2whenw {
  font-family: 'Noto Sans Mono', monospace;
  font-weight: 400;
  font-size: 17px;
}
